@model ProjetoPTI2.Models.Chamado

@{
    ViewData["Title"] = "Deletar Chamado";
}

<h2>Deletar @Html.DisplayFor(model => model.Titulo)</h2>

<h3>Deseja realmente deletar esse chamado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dt_abertura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dt_abertura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dt_fechamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dt_fechamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resolucao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resolucao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resolvedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resolvedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Solicitante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Solicitante)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Index">Voltar para a lista de chamados</a> - 
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
    </form>
</div>
