@model IEnumerable<ProjetoPTI2.Models.Chamado>

@{
    ViewData["Title"] = "Index";
}

<h2>Relatório | Cadastro</h2>
<br />
<p>
    <a asp-action="Create">Cadastrar novo Chamado</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dt_abertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dt_fechamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resolvedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dt_abertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dt_fechamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolvedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
